@import "tailwindcss";
@plugin "daisyui" {
  themes:
    light --default,
    dark --prefersdark;
}
@plugin "@tailwindcss/typography";

@import "./transitions.css";
@import "./syntax.css";

@theme {
  --font-sans: "Inter", sans-serif;
  --font-heading: "Poppins", sans-serif;
  --font-mono: "JetBrains Mono", monospace;
}


@layer utilities {
  input, textarea, select, .input {
    @apply focus:outline-0 focus-within:outline-0;
  }

  break-word {
    word-break: break-word;
  }
}

body {
  @apply text-base-content bg-base-100;
}
