@import "tailwindcss";
@plugin "daisyui" {
  themes:
    light --default,
    dark --prefersdark;
}
@plugin "@tailwindcss/typography";

@import "./transitions.css";
@import "./syntax.css";

@theme {
  --font-sans: "Inter", sans-serif;
  --font-heading: "Poppins", sans-serif;
  --font-mono: "JetBrains Mono", monospace;
}

@utility input {
  @apply focus:outline-0 focus:border-base-content/20;
}

@utility break-word {
  word-break: break-word;
}

body {
  @apply text-base-content bg-base-100;
}
