/* Fade */
.fade-enter-from,
.fade-leave-to {
  @apply opacity-0;
}

.fade-enter-active,
.fade-leave-active {
  @apply transition-opacity duration-200 ease-in-out;
}

.fade-enter-to,
.fade-leave-from {
  @apply opacity-100;
}

/* Slide-right */
.slide-right-enter-from,
.slide-right-leave-to {
  @apply translate-x-full opacity-100;
}

.slide-right-enter-active,
.slide-right-leave-active {
  @apply transition-transform ease-in-out duration-[240ms];
}

.slide-right-enter-to,
.slide-right-leave-from {
  @apply translate-x-0 opacity-100;
}

/* List */
.list-enter-active,
.list-leave-active {
  transition: all 0.5s ease;
}

.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateX(30px);
}
