/* Fade */
.fade-enter-from,
.fade-leave-to {
  @apply opacity-0;
}

.fade-enter-active,
.fade-leave-active {
  @apply transition-opacity duration-200 ease-in-out;
}

.fade-enter-to,
.fade-leave-from {
  @apply opacity-100;
}

/* Slide-right */
.slide-right-enter-from,
.slide-right-leave-to {
  @apply translate-x-full opacity-100;
}

.slide-right-enter-active,
.slide-right-leave-active {
  @apply transition-transform ease-in-out duration-[240ms];
}

.slide-right-enter-to,
.slide-right-leave-from {
  @apply translate-x-0 opacity-100;
}

/* List */
.list-enter-active,
.list-leave-active {
  @apply transition-all ease-initial duration-300;
}

.list-enter-from,
.list-leave-to {
  @apply opacity-0 translate-x-7;
}


/* Fade-up */
.fade-up-enter-active,
.fade-up-leave-active {
  @apply transition-all ease-initial duration-200;
}

.fade-up-enter-from,
.fade-up-leave-to {
  @apply opacity-0 translate-y-1.5;
}

/* Slide-up */
.slide-up-enter-from,
.slide-up-leave-to {
  @apply translate-y-full opacity-100;
}

.slide-up-enter-active,
.slide-up-leave-active {
  @apply transition-transform ease-in-out duration-[300ms];
}

.slide-up-enter-to,
.slide-up-leave-from {
  @apply translate-y-0 opacity-100;
}